<p>Console Logger says <strong>{{info.title}}</strong></p>
<ul>
  <li>Location: [{{location}}]</li>
  <li>Value: {{info.value}}</li>
</ul>

{{#wu-button-group}}
  {{wu-button label="Voeg in" size="small" isNarrow=true command="ctrl + j" commandLocation="below" onClick=(action "insert")}}
  {{wu-button label="Negeer" size="tiny" isLink=true isDark=true isNarrow=true command="esc" commandLocation="below" onClick=null}}
{{/wu-button-group}}
